body {
    border: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-align: center;
}

/*         COLORS CLASS          */
.back-orange { background-color: #F78E69; }
.back-green { background-color: #ABE188; }

/*         HEADER          */
header {
    text-align: right;
    padding: 1.5em;
} 

header > div.col-12 > h1 {
    padding-bottom: 1em;
    padding-top: 1em;
}

/*         SECTIONS          */
section > img {
    height: 20em;
    margin-bottom: 15px;
    margin-top: 15px;
}

/*         SECTION TEXT          */
#text-contain {
    padding: 2em;
}

#text-contain > div {
    padding: 1em;
}

#text-contain > div.col-6 > h3 {
    padding-bottom: .8em;
    padding-top: .8em;
}


/*         SECTION - LITTLE PICTURES          */
#little-photos {
    padding: 3.5em 1.5em;
}

#little-photos > h3 {
    font-size: 1.5em;
    font-weight: lighter;
    padding: .5em;
    margin-bottom: 15px;
}

#little-photo > div.row > div.col-2 {
    border: 1px solid purple;
}

/*         FOOTER          */
footer {
    text-align: right;
    padding: 0.3em;
}